
.loginform form{
    height: 520px;
    width: 500px;
    background-color:#565656;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.loginform form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
}
.loginform form h2{
color: #ffffff;
text-align: center;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.loginform form h2::after{
    content:"";
    display:block;
    border-bottom: 0.5px solid white;
    margin-top: 10px;
}
.loginform label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}
.loginform input{
    display: block;
    height: 50px;
    width: 90%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    
}
::placeholder{
    color: black;
}

.loginform button{
    margin-top: 50px;
    width: 95%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
