.containers {


      position: absolute;
  top: 170%;
  left: 50%;
  width: 200%;
  
  padding: 2.5rem;
  transform: translate(-50%, -50%);
  background-color: #c0c0be;
  

  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 0.625rem;
  
    
    
  }
  
  .image {
  
    width: 60px;
  
    border-radius: 50%;
  
    height: 60px;
  
  }
  
  
  /* .container > ul{
  
  
  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  
  } */
  
  .tname p{
  
    display: flex;
  
    align-items: center;
  
  }
  
  .tname {
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
    font-size: 0.938rem;
  
   
  }
  
  .responsive-table li {
  
    border-radius: 0.188rem;
  
    
    display: flex;
  
    justify-content: space-between;
  
    margin-bottom: 1.563rem;
  
  }
  
  .responsive-table .table-header {
  
    background-color: #949494;
  
    font-size: 0.875rem;
  
    display: flex;
  
    justify-content: space-between;
  
    align-items: center;
  
    text-transform: uppercase;
  
    letter-spacing: 0.03em;
  
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  
  }
  
  .responsive-table .table-row {
  
    background-color: #fff;
  
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  
  }
  
  .responsive-table .col-1 {
  
    flex-basis: 25%;
  
  }
  
  .responsive-table .col-2 {
  
    flex-basis: 25%;
  
    display: flex;
  
    align-items: center;
  
  }
  
  .responsive-table .col-3 {
  
    flex-basis: 25%;
  
  }
  
  .responsive-table .col-4 {
  
    flex-basis: 25%;
  
    display: flex;
  
    align-items: center;
  
  }
  
  /* @media all and (max-width: 767px) {
  
    
    .responsive-table li {
  
      display: block;
  
    }
  
    .responsive-table .col {
  
      flex-basis: 100%;
  
    }
  
    .responsive-table .col {
  
      display: flex;
  
      padding: 10px 0;
  
    }
  
    .responsive-table .col:before {
  
      color: #6c7a89;
  
      padding-right: 0.625rem;
  
  
      flex-basis: 50%;
  
      text-align: right;
  
    }
  
  }
  
  
  .button-18:hover {
  
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  
    transform: translate3d(0, 2px, 0);
  
  }
  
  
  .button-18:focus {
  
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
  
  }
  
  
  .button-18 {
  
    align-items: center;
  
    background-color: #e9eff4;
  
    margin: 0 10px 0 10px;
  
    border: 0;
  
    border-radius: 6.25rem;
  
    box-sizing: border-box;
  
    color: #1a2b88;
  
    cursor: pointer;
  
    display: inline-flex;
  
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
  
      "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
  
      "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  
      "Lucida Grande", Helvetica, Arial, sans-serif;
  
    font-size: 1rem;
  
    font-weight: 600;
  
    justify-content: center;
  
    line-height: 1.25;
  
    width: 7rem;
  
    min-height: 2.5rem;
  
    
    overflow: hidden;
  
    padding: 0px;
  
    padding-left: 1.25;
  
    padding-right: 1.25;
  
    text-align: center;
  
    touch-action: manipulation;
  
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
  
      box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
  
      color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  
    user-select: none;
  
    -webkit-user-select: none;
  
    vertical-align: middle;
  
  }
  
  
  .button-18:hover,
  
  .button-18:focus {
  
    background-color: #949494;
  
    color: #ffffff;
  
  }
  
  
  .button-18:active {
  
    background: #09223b;
  
    color: rgb(255, 255, 255, 0.7);
  
  }
  
  
  .button-18:disabled {
  
    cursor: not-allowed;
  
    background: rgba(0, 0, 0, 0.08);
  
    color: rgba(0, 0, 0, 0.3);
  
  }
  
  
  .color1 {
  
    color: green;
  
    margin-bottom: -0.375rem;
  
  }
  
  .color2 {
  
    color: red;
  
    margin-bottom: -0.375rem;
  
  }
  
  
  
  .button-19:hover {
  
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  
    transform: translate3d(0, 2px, 0);
  
  }
  
  
  .button-19:focus {
  
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
  
  }
  
  
  .button-19 {
  
    align-items: center;
  
    background-color: #e9eff4;
  
    margin-right: 1.25rem;
  
    border: 0;
  
    border-radius: 0.625rem;
  
    box-sizing: border-box;
  
    color: #1a2b88;
  
    cursor: pointer;
  
    display: inline-flex;
  
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
  
      "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
  
      "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  
      "Lucida Grande", Helvetica, Arial, sans-serif;
  
    font-size: 1rem;
  
    font-weight: 600;
  
    justify-content: center;
  
    line-height: 1.25rem;
  
    
    overflow: hidden;
  
    padding: 0px;
  
    padding-left: 1.3rem;
  
    padding-right: 1.3rem;
  
    text-align: center;
  
    touch-action: manipulation;
  
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
  
      box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
  
      color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  
    user-select: none;
  
    -webkit-user-select: none;
  
    vertical-align: middle;
  
  }
  
  
  .button-19:hover,
  
  .button-19:focus {
  
    background-color: #949494;
  
    color: #ffffff;
  
  }
  
  
  .button-19:active {
  
    background: #09223b;
  
    color: rgb(255, 255, 255, 0.7);
  
  }
  
  
  .button-19:disabled {
  
    cursor: not-allowed;
  
    background: rgba(0, 0, 0, 0.08);
  
    color: rgba(0, 0, 0, 0.3);
  
  }
  
  
  .title{
  
    margin-left: 1.25rem;
  
    font-size: 1.875rem;
  
    
  
  }
   */