.Add-Box {
  position: absolute;
  top: 170%;
  left: 50%;
  width: 200%;
  
  padding: 2.5rem;
  transform: translate(-50%, -50%);
  background-color: #c0c0be;
  

  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 0.625rem;
}
.addemployee{color:#3d424a;
text-align: center;}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.middle {
  margin-left: 30px;
}
.box {
  width: 100%;
}
.select {
  height: 2.5rem;
}

.Add-Box label {
  color:#3d424a;
  
}
.Add-Box input {
 
  height: 2rem;
  border-radius: 0.25rem;
}
.all {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.row2 {
  padding-left: 30%;
}

.submit {
  width: 22%;
  margin-left: 60rem;
}

.Add-Box .input-Box {
  margin-top: 3%;
}
.Add-Box .input-Box label{
align-items: center;
  font-size: 1rem;

}
.Add-Box .test {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select-project{
  display:flex;
}
@media all and (max-width: 767px) {
  .all {
    display: table-header-group;
  }
  .Add-Box {
    width: 120%;
    /* height: 100rem; */
    margin-top: 95%;
    padding-left: 2%;
  }

  .role {
    padding-left: -0.117rem;
 
  }
  .row2 {
    padding-left: 0;
  }
  .row {
    display: block;
    
    
  }
  .middle {
    margin-left: 0;
}
}
