.Employeeheader {
  font-family: Poppins;
  text-align: center;
  color: #3d424a;
  font-size: 4rem;
}
.containeremployee {
  height: 1000px;
}

.button-action {
  width: 180px;
  background-color: #57bee6;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #3d424a;
  cursor: pointer;
  display: inline-block;
  font-family: Popins;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  padding: 20px 20px;
  margin: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
}

.button-notaction {
  background-color: #57bee6;
  border-radius: 8px;
  width: 180px;
  border-style: none;
  color: #3d424a;
  cursor: pointer;
  display: inline-block;
  font-family: Popins;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  padding: 20px 20px;
  margin: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  /* z-index: -11111; */
}
.one {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  row-gap: 35px;
  margin-top: 10%;
}

.title1 {
  font-size: 60px;
  margin-right: 100px;
}

.button-68 {
  width: 180px;
  display: inline-block;
  background-color: #57bee6;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #3d424a;
  cursor: pointer;
  display: inline-block;
  font-family: Popins;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  padding: 20px 20px;
  margin: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
}
.icon-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style {
  background-color: #32be8f;
  border: 2px solid #fff;
  height: 50px;
  color: #fff;
  cursor: pointer;
  border-radius: 100%;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.button-notaction:hover {
  background-color: #ede5de;
  opacity: 1;

  transition-duration: 0.35s;
}

.button-notaction:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.button-notaction:hover {
  box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}
.button-notaction:hover {
  background-color: #ede5de;
  opacity: 1;

  transition-duration: 0.35s;
}

.button-notaction:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.button-notaction:hover {
  box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}

.button-action:hover {
  background-color: #ede5de;
  opacity: 1;

  transition-duration: 0.35s;
}

.button-action:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.button-69:hover {
  box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}
.button-68:hover {
  background-color: #ede5de;
  opacity: 1;

  transition-duration: 0.35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}


.flex-search {
  display: flex;
  float: right;
}
.teamlist {
  background-color: #57bee6;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #3d424a;
  cursor: pointer;
  display: inline-block;
  font-family: Popins;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  padding: 20px 20px;
  margin: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
}

.flex-active {
  display: flex;
  justify-content: right;
}

@keyframes movebtn {
  0% {
      transform: translateY(0px);
  }

  25% {
      transform: translateY(20px);
  }

  50% {
      transform: translateY(0px);
  }

  75% {
      transform: translateY(-20px);
  }

  100% {
      transform: translateY(0px);
  }
}