
.kpi_section{
   
    border-radius: 20px;
    color: white;
    width: 40vw;
}

.gender_section{
    color: #000;
    display: flex;
    justify-content: space-evenly;
}

.chart_section{
    display: flex;
    align-items: center;
}

.recharts-text {
    color: white
}
.input_employee_chart{
    width: 30%;
    height: 30px;


}
.gender_section{
    margin: 20px 0 0 50px
}

@media all and (max-width: 767px) {

    .dashboard_main{
        background-color: rgb(255, 255, 255);
        width: 100px;
    
       
    
        height:  calc(100vh - 70px) ;
       
    }



 
    .kpi_section{
       
        border-radius: 20px;
        color: white;
        width: 40vw;
    }
    
    .gender_section{
        color: #000;
    }
    
    .chart_section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .recharts-text {
        color: white
    }
    .input_employee_chart{
        width: 30%;
        height: 30px;
    
    
    }
    .gender_section{
        margin: 20px 0 0 50px
    }
    












}


