link {
  text-decoration: none;
}

.menu-icon-btn {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  padding: 0;
  font-size: 30px;
  color: white;

  margin: 10px 10px 0 0;

}

.top-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adminImg {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  object-fit: cover;
  box-shadow: 1px 1px 15px rgb(49, 49, 49);
}

.content {
  width: calc(100% - 50px);
  margin-left: auto;
  padding: 15px;
  height: 100%;
  word-break: break-word;
}

.sidebar {
  position: fixed;
  z-index: 10000000;
  top: 0;
  display: block;

  width: 250px;
  height: calc(100vh - 50px);
  background-color: rgb(30, 161, 255);
  transition: width 0.3s ease-in-out;
  border-right: 1px #0ce7ff solid;
  padding-top: 15px;
  margin-top: 70px;
  flex-shrink: 0;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.sidebar .sidebar-position {
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;

  flex-direction: column;
  justify-content: center;
  padding: 0 12px;
  text-align: left;
}

.sidebar .sidebar-position1 {
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 12px;
  text-align: left;
}

.sidebar .sidebar-position:hover {
  background-color: darkgray;
  border-right: 5px black solid;
}

.sidebar svg {
  color: black;
  min-width: 25px;
}

.sidebar span {
  width: 0;
  height: 0;
  padding: 0 15px;
  transition: width 0.3s ease;
  color: black;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar--open {
  width: 250px;
  transition: width 0.3s ease;
}

.sidebar--open .sidebar-position span {
  display: block;
  align-content: center;
  width: 100%;

  height: auto;
}

.sidebar--open .sidebar-position1 span {
  display: block;
  width: 100%;
  margin: 0 0 0 25%;
  padding: 0;
  height: auto;
}


.sidebar--open .sidebar-icon {
  font-size: 50px;

}

.sidebar-icon {
  font-size: 34px;

}

.sidebar--open .adminImg {
  width: 150px;
  height: 150px;
  transition: 0.4s ease-in-out;

  border-radius: 50%;
  object-fit: cover;
  box-shadow: 2px 2px 20px rgb(49, 49, 49);
}

.trigger {
  position: absolute;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
  display: none;
  top: -50px;
  left: 20px;


}


.sidebar--open .sidebar-position {
  height: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;


  padding: 0 12px;
  text-align: left;
}

@media all and (max-width: 767px) {

  link {
    text-decoration: none;
  }

  .menu-icon-btn {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    padding: 0;
    font-size: 30px;
    color: white;

    margin: 10px 10px 0 0;

  }

  .trigger {
    position: absolute;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    display: block;
    top: -50px;
    left: 20px;


  }

  .sidebar--open {
    width: 250px;
    transition: width 0.3s ease;
  }

  .sidebar--open .sidebar-position span {
    display: block;
    align-content: center;
    width: 100%;

    height: auto;
  }

  .sidebar--open .sidebar-position1 span {
    display: block;
    width: 100%;
    margin: 0 0 0 25%;
    padding: 0;
    height: auto;
  }

  .top-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .adminImg {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    object-fit: cover;
    box-shadow: 1px 1px 15px rgb(49, 49, 49);
  }

  .content {
    width: calc(100% - 50px);
    margin-left: auto;
    padding: 15px;
    height: 100%;
    word-break: break-word;
  }

  .sidebar {
    position: fixed;

    top: 0;
    display: block;

    width: 50px;
    height: calc(100vh - 50px);
    background-color: darkgray;
    transition: width 0.3s ease-in-out;
    border-right: 1px #4d606e solid;
    padding-top: 15px;
    margin-top: 70px;
    flex-shrink: 0;
  }

  .sidebar .sidebar-position {
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;

    flex-direction: column;
    justify-content: center;
    padding: 0 12px;
    text-align: left;
  }

  .sidebar .sidebar-position1 {
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 12px;
    text-align: left;
  }

  .sidebar .sidebar-position:hover {
    background-color: darkgray;
    border-right: 5px black solid;
  }

  .sidebar svg {
    color: black;
    min-width: 25px;
  }

  .sidebar span {
    width: 0;
    height: 0;
    padding: 0 15px;
    transition: width 0.3s ease;
    color: black;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sidebar--open {
    width: 250px;
    transition: width 0.3s ease;
  }

  .sidebar--open .sidebar-position span {
    display: block;
    align-content: center;
    width: 100%;

    height: auto;
  }

  .sidebar--open .sidebar-position1 span {
    display: block;
    width: 100%;
    margin: 0 0 0 25%;
    padding: 0;
    height: auto;
  }

  .trigger {
    position: absolute;
    height: 50px;
    font-size: 30px;
    cursor: pointer;

    top: -50px;
    left: 20px;


  }

  .sidebar--open .sidebar-icon {
    font-size: 50px;

  }

  .sidebar-icon {
    font-size: 34px;

  }

  .sidebar--open .adminImg {
    width: 150px;
    height: 150px;
    transition: 0.4s ease-in-out;

    border-radius: 50%;
    object-fit: cover;
    box-shadow: 2px 2px 20px rgb(49, 49, 49);
  }



  .sidebar--open .sidebar-position {
    height: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;


    padding: 0 12px;
    text-align: left;
  }
}