.navbar {
    
    display: flex;
    position:fixed;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    /* position: fixed;
    top: 0; */
    z-index: 999;
}
.logout {

    margin-right: 30px;
    align-items: center;
        background-color: #e9eff4;
        border: 0;
        border-radius: 6.25rem;
        box-sizing: border-box;
        color: #1a2b88;
        cursor: pointer;
        display: inline-flex;
        font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
        font-size: 2rem;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        max-width: 30rem;
        min-height: 2rem;
        min-width: 5rem;
        overflow: hidden;
        padding: 0px;
        padding-left: 1.25;
        padding-right: 1.25;
        text-align: center;
        touch-action: manipulation;
        transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
    }
.logo {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-left:80px;
   
}
.logoimage {

    
    width: 40px;
}
/* .logout button{
    background-color: #565656;
margin-right: 30px;
height: 3rem;
display: flex;
align-items: center;
border-radius: 5px;
} */

.menu-icon-btn{
    color: grey;
    
    border: 0;
    padding: 0;
    font-size: 30px;
  
    margin: 10px 10px 0 0 ;

}