.projectheader{
  
    font-family: Poppins;
    text-align: center;
    color:#3d424a;
    font-size: 4rem;
  
    
  }
  .addproject{float: right;}

  .two{display: flex;
    flex-wrap: wrap;
margin-top: 10%;
margin-left:100px}