.Add-Box_evaluatoin {
    position: absolute;
    top: 170%;
    left: 50%;
    width: 90%;
    
    padding: 2.5rem;
    transform: translate(-50%, -50%);
    background: #565656;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 0.625rem;
  }
  .name_rating
  {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }
  .middle {
    margin-left: 30px;
  }
  .box {
    width: 100%;
  }
  .select {
    height: 2.5rem;
  }
  
  .Add-Box label {
    color: white;
    font-size: x-large;
  }
  .Add-Box input {
    height: 2rem;
    border-radius: 0.25rem;
  }
  .all {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .row2 {
    padding-left: 30%;
  }
  
  .submit {
    width: 22%;
    margin-left: 60rem;
  }
  
  .Add-Box .input-Box {
    margin-top: 3%;
  }
  .Add-Box .input-Box label{
  align-items: center;
    font-size: 1rem;
  
  }
  .Add-Box .test {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .rating_select{
    display: flex;
    width: 80%;
    margin: 30px 0 30px 10%;
    padding: 10px;
    font-size: 15px;
    background-color: grey;
    border-radius: 10px;
    color: white;
    
  }

  .button_rating_submit{
    width: 40%;
    margin: 20px 20px 20px 30%;
    


  }

  .feedback_rating{
    width: 80%;
    margin: 10px 0 10px 10%;

  }
  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #000000;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #000000;
    cursor: pointer;
  }
  @media all and (max-width: 767px) {
    .all {
      display: table-header-group;
    }
    .Add-Box {
      width: 120%;
      /* height: 100rem; */
      margin-top: 95%;
      padding-left: 2%;
    }
    .submit {
      margin-left: 0%;
      width: 100%;
    }
    .role {
      padding-left: -0.117rem;
    }
    .row2 {
      padding-left: 0;
    }
    .row {
      display: block;
      
      
    }
    .middle {
      margin-left: 0;
  }
  }
  