.boxes{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
    width: 80vw;
   
}


.box_main{
    display: flex;
    color: wheat;
    align-items: center;
    background-color: #c0c0be;
    border-radius: 25px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px  ;
}

.number{font-size:2rem;
    font-weight: bolder;
    margin-left: 30px;
}
.finalfooter{
    color:black;
    font-size:1.5rem
}
.nameofgroup{
    font-size: 1.5rem;
}
.iconnumber{display: flex;}
@media all and (max-width: 767px) {
    .boxes{
        display:flex;
        flex-direction: column;
        height: 40vh;
        scale: 50%;
       
    }
  }