.team-details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.wraping-page{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
     
    }