.profile {
    flex:6 ;
    padding: 20px;
}

.employeeNamecontainer{
    margin: 20px 0 20px 40px ;
    
}

.profilecontainer{
    display: flex;
    
}
.employeeUpdate{
    flex:1;
    padding: 20px;
    width: 70vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.employeeUpdate button {
    width: 80px;
    float: right    ;
}
.employeeInfo{
    flex:1;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}
.employee_pro_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.employeetop{
    width: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.userimg{
    width: 500px;
    height: 500px;
    
    object-fit: cover;
}
.profileEvaluationbutton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: gray;
    color: black;
    width: 50%;
    
}
.usershowtoptitle{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.employeeinfo{

    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 0;
    font-size: 30px;
}
.employeeusername{
    margin-left: 20px;
   
}
.employeeshowetitle{
    color: gray;
    font-size: 15px;
    margin-top: 20px;
}
.profileshowusername{
  
font-size: 30px;
}
.info{
    display: flex;
   justify-content: space-evenly;
}
.userupdateimg{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin:20px 20px 0 0 ;
}
.userupdateform{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.userinfoitem{
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 0 ;
}
.userinfoitem>label{
    margin: 0 0 5px 0;
    font-size: 14px;
}

.userupdateinput{
    
    width: 250px;
    border: 1px solid gray;
    color: rgb(57, 57, 57);
    
}
.userupdateright{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.userupdateupload{
    display: flex;
    align-items: center;
}
.userupdateupload label{
    color: black;
}

.imgupdatecursor{
    cursor: pointer;
}
.profileupdatebutton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: gray;
    color: black;
    width: 50%;
    margin:5% 0 0 25% ;
    
    
}

  .radio-button {
    display: flex;
    justify-content: space-between;
  }
  .radio-button label{
    color: black;
    font-size: 1rem;
  }

  @media all and (max-width: 767px) {
   .profilecontainer{
    display: block;
   }
   .employeeUpdate{
    display: block;
    

}
.userupdateform{
    display: block;
}
  }