.dash-raffle {
    display: grid;
    grid-template-columns: 0.8fr 5fr;

}

.show-raffles {
    margin-top: 5%;
}

.show-profile {
    margin-top: 8%;
    flex-grow: 1;
}

.add-raffles {
    margin-top: 5%;
    margin-bottom: 5%;
    
}

@media all and (max-width: 767px) {
    .dash-raffle {
        display: grid;
        grid-template-columns: 0.1fr 1fr;
    
    }
    
    .show-raffles {
        margin-top: 5%;
    }
    
    .show-profile {
        margin-top: 15%;
    }
    
    .add-raffles {
        margin-top: 5%;
        margin-bottom: 5%;
    }
   }

