*{
	font-family:poppins;
	
}
body{background-color: #e6e5de}
.courses-container{
	margin-top:10%
}
.course-preview{width: 200;
}

.course {
	
   
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	margin-left: 3%;
	overflow: hidden;
	
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-image: url('https://images.unsplash.com/photo-1617360547704-3da8b5363369?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzN8fGdyYXklMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
	background-size:cover;
    width:8rem;
    color: black;
	padding: 4rem;
	
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 30px;

	width: 100%;
}

.progress-container2{
	
	display: flex;
	
	cursor: pointer;
	justify-content: space-between;
	margin-top:1rem ;
	color:#57bee6;



	
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: #2A265F;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 66%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.button-teams{
	
	background-color: #57bee6;
		 border-radius: 8px;
		 border-style: none;
		 box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
		 box-sizing: border-box;
		 color: black;
		 cursor: pointer;
		 display: inline-block;
		 font-family: Popins;
		 font-size: 16px;
		 font-weight: 600;
		 letter-spacing: normal;
		 line-height: 1.5;
		 outline: none;
		 padding: 20px 20px;
		 margin:20px;
		 position: relative;
		 text-align: center;
		 text-decoration: none;
		 transition: all .3s;
	   
	   
}
.button-details{ display:flex;
  justify-content: center;
 
  }


.our-project {
  
    margin-bottom: 30px;
   background-color: #ffff;
    text-align: center;
    overflow: hidden;
   border-radius: 1rem;
    width:300px;
    
    
  }

  
  .our-project .picture {
    display: inline-block;
    height: 170px;
    width: 290px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  .our-project .picture::before {
    font-family:Poppins;
    content: "";
    width: 20rem;
    height: 0;
    border-radius: 0;
    background-color: #57bee6;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-project:hover .picture::before {
    height: 125%;
  }


  
  .our-project .picture img {
    width:20rem;
    height: 100%;
    /* border-radius: 50%; */
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-project:hover .picture img {
    box-shadow: 0 0 0 14px #e6e5de;
    transform: scale(0.7);
  }
  .our-project .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  

