.overlay {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: opacity 500ms;
    overflow: auto;
    z-index: 1;
}

.background-overlay {
    background: rgba(0, 0, 0, 0.7);
}

.popup {
    margin: 15rem auto;
    padding: 1rem;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: white;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;

}

.popup .close:hover {
    cursor: pointer;
    color: #000;
}

.popup .content {
    margin-top: 3.5%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .popup {
        width: 70%;

    }

    .overlay {
        height: 100%;
    }

}