form.example input[type=text] {
   padding: 10px;
   font-size: 17px;
   border: 1px solid grey;
   float: left;
   width: 15%;
   height:1.1rem;
   background: #f1f1f1;
 }

 
 form.example button {
   float: left;
   width: 3rem;
   padding: 0.5rem;
   background: hsl(217, 10%, 26%);
   color: #c0c0be;
   font-size: 17px;
   border: 1px solid grey;
   border-left: none;
   cursor: pointer;
   height:2.5rem;
 }
 
 form.example button:hover {
   background: #c0c0be;
   color:#3d424a
 }
 
.example{margin-left: 60px;}