.confermation {
    position: absolute;
    top: 170%;
    left: 50%;
    width: 300px;
   
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color:#c0c0be;
   
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }
  .confermation h1{
    color: black;
    font-size: 25px;
  }
  .confermation .button-confirm{
    width:30%;
    height:3rem;
    border-radius: 10px;
    
  }
  .confermation .button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .confermation h1{
    font-size: 20px;
    text-align: center;
  }