.login-box {
  position: absolute;
  top: 270%;
  left: 50%;
  width: 100%;
  padding: 40px;
  transform: translate(-50%, -50%);
 background-color: #c0c0be;

  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #ffff;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 97%;
  padding: 15px 10px 15px;
  margin-top: 90px;
  font-size: 22px;
  color: black;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid #fff;
  outline: none;
  background: white;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 0;
  font-size: 22px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ffff;
  font-size: 20wpx;
}
.select-projects label{
  
  position: absolute;
  
  padding: 40px 0;
  font-size: 22px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.select-projects select{
   
  width: 97%;
  padding: 15px 10px 15px;
  margin-top: 90px;
  font-size: 22px;
  color: black;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid #fff;
  outline: none;
  background: white;
}

.button-6 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;
  border-radius: 10px;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

