

.nameemployee{font-size:2.5rem} 
.titleemployee{font-size:1.5rem}
  .our-team {
    padding: 30px 0px 40px;
    margin-top: 50px;
   background-color: #ffff;
    text-align: center;
    overflow: hidden;
   border-radius: 1rem;
    width:20rem;
    
    
  }

  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }

  .delete-team{
    
    background-color: #57bee6;
    border: none;
    border-radius: 10px;
  }

  .team-content h5{
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-evenly;
   align-items: center;
   
   cursor: pointer;
  }
  .our-team .picture::before {
    font-family:Poppins;
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #57bee6;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #57bee6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    z-index:100000;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #e6e5de;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  

  
  .team-cards{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
margin:8rem;
  }
.line{float: right;
cursor: pointer;
color: #1369ce;

}
.icons{
  display: flex;
  justify-content: space-between;
  color:#1369ce
}
